<<<<<<< HEAD

.div1,.div2,.div3,.div4{
    width: 200px; 
    height: 200px;
    border: 2px solid black;
}

.div1{
    background-color: darkgreen;
    z-index: 2;
    display: inline;
}


.div2{
    background-color: aquamarine;
    position: relative;
    top: 150px;
    left: 500px;

    /* con float le quito su posicion */
    z-index: 1;

}

.div3{
    background-color: burlywood;
    position: absolute;
    top: 150px;
    left: 50px;
}

.div4 { 
    background-color: peru;
    position: fixed;
    top: 300px;
=======

.div1,.div2,.div3,.div4{
    width: 200px; 
    height: 200px;
    border: 2px solid black;
}

.div1{
    background-color: darkgreen;
    z-index: 2;
    display: inline;
}


.div2{
    background-color: aquamarine;
    position: relative;
    top: 150px;
    left: 500px;

    /* con float le quito su posicion */
    z-index: 1;

}

.div3{
    background-color: burlywood;
    position: absolute;
    top: 150px;
    left: 50px;
}

.div4 { 
    background-color: peru;
    position: fixed;
    top: 300px;
>>>>>>> 6c73be39e2bba669a006dad869d30af4c1865a1f
}