
body{
    /* background-image: url('../IMG/foto.jpg'); */
    background-color: mediumaquamarine;
    margin: 0%;
}
    /* AGRUPAMIENTO ES ATRAVES DE LA COMA */

.div1,.div2,.div3,.div4{
    width: 200px; 
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
    /* display: inline-flex; */
}

.div1,.div2{
    display: inline-block;
}

.div1{
    background-color: darkgreen;
    border-radius: 50%;
    width: 15%;
    background-image: url(../IMG/avatar.jpg);
    background-size: cover;
}


.div2{
    background-color: aquamarine;
    width: 84.56%; 
    


}

.div3{
    background-color: burlywood;
    width: 100%;
}

.div4{
    background-color: peru;
    width: 100%;
}

poic
