*{
    background-color: black;
    color: hsl(0, 17%, 93%);
}
/* DESCENDIENTE [ESPACIO]*/
/* Forma 1: MAS ESPECIFICA*/
div.menu div.options ul li a{
    color: orange;
}
/* Forma 2: NO ES ESPECIFICO, MIENTRAS QUE ARRIBA ES MUCHO MAS ESPECIFICO, DONDE PUEDO REUTIZARLO EN UN FUTURO */

/* 
.menu{
    color: orange;
} */

/* COMBINADOR HIJO [>] */

div#page > div{
color: red;
}

/* COMBINADOR HERMANO CONTIGUO [+] */
div#page +div+div{
color: wheat;
}


div.post span + span{
color:plum
}


/* HERMANO [~] */
div.post strong ~ strong{
color:cyan
}

/* es mas universal */
div#menu *{
    background-color: cadetblue;
}

/* PSEUDOCLASES */
div#menu h1:hover{
    background-color: red;
}
.nombre:focus{
    background-color: crimson;
}

.imagen{
    width: 100px;
    height: 100px;
}

.imagen:hover{
    width: 150px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 15px 10px 5px 10px brown;
}